.wrapper{
    padding: 30px 30px 38px;
    background: #fff;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
  .wrapper img{
    max-width: 103px;
  }
  .wrapper h1{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0;
  }
  .content-sveglia.disable{
    cursor: no-drop;

  }
  .content-sveglia.disable .campo-sveglia{
    opacity: 0.6;
    pointer-events: none;
  }
  
  .wrapper button{
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 17px 0;
    margin-top: 20px;
    border-radius: 5px;
    background: #4A98F7;
  }

select{
    width: 100%;
    padding: 12px 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #444;
    font-size: 16px;
    border: 1px solid #999;
}
